:root {
    /* Paleta de colores */
    --primary-color: #4CAF50;
    --secondary-color: #2C3E50;
    --bg-color: #F4F4F9;
    --text-color: #333333;
    --font-family: 'Roboto', sans-serif;
    --tercer-color: #45a049;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    overflow-x: hidden;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
    font-size: 24px; /* Títulos de 24px */
}

/* Botones */
button, .btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    button:hover, .btn:hover {
        background-color: var( --bg-color); /* Color más oscuro para el hover */
        color: black;
        border: 2px solid var(--primary-color); /* Borde de color en hover */
    }

/* Tarjetas de Valores */
.card-value {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agregado para dar más profundidad */
    transition: box-shadow 0.3s ease;
}

    .card-value:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Hover para resaltar las cards */
    }

    .card-value .card-body {
        padding: 20px;
    }

    .card-value .card-title {
        font-size: 18px;
        color: var(--primary-color);
    }

    .card-value .card-body p {
        font-size: 14px;
        color: var(--text-color);
        line-height: 1.5;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* Limita el texto a 3 líneas */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

/* Estructura general de la página */
.container {
    padding: 0 15px;
}

.row {
    margin-bottom: 30px;
}

/* Estilo de la sección de "Nosotros" */
.display-4 {
    font-size: 20px;
    color: var(--secondary-color);
    margin-bottom: 20px;
    font-weight:bold;
}

.lead {
    font-size: 18px;
    color: var(--text-color);
}

/* Imágenes */
.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Espaciado y márgenes */
.mb-4 {
    margin-bottom: 1.5rem;
}

.my-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.text-center {
    text-align: center;
}

/* Estilo del header */
header {
    background-color: var(--primary-color);
    color: white;
    padding: 15px 0;
}

    header h1 {
        font-size: 30px;
        margin: 0;
    }

/* Banner */
.banner {
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-title {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 0;
    padding: 0;
}

.description {
    font-size: 1.25rem;
    margin-top: 20px;
    padding: 0;
}

/* Botón Call-to-Action */
.cta {
    text-align: center;
    margin-top: 40px;
}

.btn-cta {
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

    .btn-cta:hover {
        background-color: #0056b3;
    }
.form-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
    color: #333;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px   15px;
    font-size: 16px;
    width: 100%;
}

    .form-control:focus {
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }


.text-danger {
    color: #dc3545;
    font-size: 14px;
    margin-bottom: 10px;
}

/*LANDING CONTACTO */

/* Clase para títulos principales */
.title1-main {
    font-size: 20px;
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight:bold;
}

/* Clase para subtítulos */
.subtitle-main {
    font-size: 18px;
    color: var(--secondary-color);
    font-weight: bold;
    margin-bottom: 1rem;
    color: #333333;
}

/* Clase para texto estándar */
.text-main {
    font-size: 14px;
    color: var(--text-color);
    line-height: 1.6;
    color: #333333;
}

a {
    font-size: 14px;
    color: var(--text-color);
    line-height: 1.6;
    color: var(--primary-color);
}


.btn-cta {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid transparent; /* Borde transparente por defecto */
    transition: background-color 0.3s ease, border 0.3s ease; /* Transiciones suaves */
}

    .btn-cta:hover {
        background-color: var(--bg-color); /* Color de fondo en hover */
        color: black; /* Color del texto en hover */
        border: 2px solid #4CAF50; /* Borde de color en hover */
    }
